Repository kimata/unit-cooler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pyright, ty

prettier:
  name: Run prettier
  entry: npx prettier --write
  language: system

pyright:
  name: Run pyright
  entry: env PYRIGHT_PYTHON_FORCE_VERSION=latest uv run pyright
  language: system
  pass_filenames: false

ty:
  name: Run ty
  entry: uv run ty check
  language: system
  pass_filenames: false

fix: my_lib 追従と WebUI の InfluxDB token エラー解消
  pyproject.toml
  src/unit_cooler/actuator/web_server.py
  src/unit_cooler/actuator/work_log.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/config.py
  src/unit_cooler/const.py
  src/unit_cooler/controller/sensor.py
  src/unit_cooler/metrics/webapi/page.py
  src/unit_cooler/webui/webapi/cooler_stat.py
  src/webui.py
  tests/unit/test_config.py
  tests/unit/test_const.py
  uv.lock
Due: pyright, ty

fix: pytest-xdist 並列実行時のメトリクス DB ロックを解消
  src/unit_cooler/metrics/collector.py
  tests/unit/metrics/test_collector.py
  tests/unit/metrics/webapi/test_page.py
Due: pyright, ty

fix: センサー値欠落時に "—" で表示する
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/Sensor.tsx
  frontend/src/lib/ApiResponse.ts
Due: prettier

style: センサー値を大きく、相対日時を小さく調整
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/Sensor.tsx
  frontend/src/index.css
Due: prettier

style: エアコン消費電力の数値サイズをセンサー値と揃える
  frontend/src/index.css
Due: prettier

test: cooler_stat._last_message のテスト分離を確実にする
  tests/integration/test_api_schema.py
Due: pyright, ty

style: エアコン消費電力の単位 W をセンサー単位と同サイズに揃える
  frontend/src/components/AirConditioner.tsx
Due: none

feat: Loading 表示にフォントサイズに合った回転 spinner を追加
  frontend/src/components/History.tsx
  frontend/src/components/Log.tsx
  frontend/src/components/Sensor.tsx
  frontend/src/components/common/Loading.tsx
Due: none

style: エアコン単位 W をセンサー単位と完全に同サイズ・同スタイルに
  frontend/src/components/AirConditioner.tsx
Due: none

style: センサー単位とエアコン W のタグ構造とサイズを統一
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/Sensor.tsx
Due: none

style: 単位フォントサイズを text-sm から text-xs に縮小
  frontend/src/components/AirConditioner.tsx
  frontend/src/index.css
Due: prettier

refactor: Tailwind 一本化 + UI 共通コンポーネント抽出
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/CoolingMode.tsx
  frontend/src/components/History.tsx
  frontend/src/components/Log.tsx
  frontend/src/components/Sensor.tsx
  frontend/src/components/Watering.tsx
  frontend/src/components/common/Card.tsx
  frontend/src/components/common/DateDisplay.tsx
  frontend/src/components/common/EmptyValue.tsx
  frontend/src/components/common/Unit.tsx
  frontend/src/index.css
  frontend/src/lib/dayjs.ts
Due: prettier

fix: 重大バグ修正（rain センサー欠損、RuntimeSettings 型変換、k8s 環境変数名）
  kubernetes/unit-cooler.yml
  src/unit_cooler/config.py
  src/unit_cooler/controller/sensor.py
  src/unit_cooler/pubsub/publish.py
  tests/unit/controller/test_sensor.py
  tests/unit/test_config.py
Due: prettier, pyright, ty

refactor: デッドコード削除
  frontend/src/components/icons/index.tsx
  frontend/src/lib/Util.ts
  frontend/src/types/common.ts
  src/controller.py
  src/unit_cooler/actuator/valve_controller.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/metrics/webapi/page.py
  src/unit_cooler/util.py
  tests/unit/test_util.py
Due: prettier, pyright, ty

refactor: テスト資産掃除とテスト同期機構の削除
  src/unit_cooler/actuator/valve_controller.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/state_manager.py
  src/unit_cooler/webui/worker.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/fd_q10c_mocks.py
  tests/fixtures/gpio_mocks.py
  tests/fixtures/mock_factories.py
  tests/fixtures/sensor_data.py
  tests/helpers/__init__.py
  tests/helpers/assertions.py
  tests/helpers/time_utils.py
  tests/integration/conftest.py
  tests/unit/actuator/test_valve_controller.py
  tests/unit/conftest.py
  tests/unit/test_state_manager.py
  tests/unit/webui/test_worker.py
Due: pyright, ty

refactor: エントリポイント・設定処理の統一とシャットダウン処理の修正
  src/actuator.py
  src/controller.py
  src/unit_cooler/actuator/web_server.py
  src/unit_cooler/actuator/work_log.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/cli.py
  src/unit_cooler/config.py
  src/unit_cooler/controller/engine.py
  src/unit_cooler/controller/message.py
  src/unit_cooler/controller/sensor.py
  src/unit_cooler/pubsub/publish.py
  src/unit_cooler/pubsub/subscribe.py
  src/unit_cooler/webui/webapi/cooler_stat.py
  src/unit_cooler/webui/worker.py
  src/webui.py
  tests/integration/test_controller_actuator.py
  tests/unit/pubsub/test_subscribe.py
  tests/unit/webui/test_worker.py
Due: pyright, ty

refactor!: sense_data の dataclass 化と ZMQ スキーマ刷新
  src/unit_cooler/actuator/control.py
  src/unit_cooler/actuator/status_publisher.py
  src/unit_cooler/actuator/web_server.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/controller/engine.py
  src/unit_cooler/controller/message.py
  src/unit_cooler/controller/sensor.py
  src/unit_cooler/messages.py
  src/unit_cooler/metrics/collector.py
  src/unit_cooler/webui/webapi/cooler_stat.py
  src/unit_cooler/webui/worker.py
  tests/integration/test_api_schema.py
  tests/integration/test_webui.py
  tests/unit/controller/test_engine.py
  tests/unit/controller/test_sensor.py
  tests/unit/test_messages.py
  tests/unit/webui/test_cooler_stat.py
Due: pyright, ty

refactor: metrics のテンプレート分離・SQL 集計化・収集配線
  CLAUDE.md
  src/unit_cooler/actuator/work_log.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/metrics/collector.py
  src/unit_cooler/metrics/webapi/page.py
  src/unit_cooler/metrics/webapi/static/favicon.ico
  src/unit_cooler/metrics/webapi/static/metrics.css
  src/unit_cooler/metrics/webapi/static/metrics.js
  src/unit_cooler/metrics/webapi/templates/metrics.html
  tests/unit/metrics/test_collector.py
  tests/unit/metrics/test_roundtrip.py
  tests/unit/metrics/webapi/test_page.py
Due: prettier, pyright, ty

ci: Docker イメージタグを一意にして config 変更の取りこぼしを防ぐ
  .gitlab-ci.yml
  CLAUDE.md
Due: prettier

feat: センサー値パネルで数値を右揃え・単位を左揃えに整列
  frontend/src/components/Sensor.tsx
Due: none

feat: 作動ログの冷却開始/停止アイコンを別デザインに変更
  frontend/src/components/Log.tsx
  frontend/src/components/icons/index.tsx
Due: none

fix: footprint.elapsed の None 戻り値による型エラーと潜在クラッシュを修正
  src/unit_cooler/actuator/control.py
  src/unit_cooler/actuator/valve_controller.py
Due: pyright, ty

feat: フロントエンド障害耐性の強化（Phase 6 最小セット + データ取得層 + 小物）
  frontend/src/App.tsx
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/CoolingMode.tsx
  frontend/src/components/History.tsx
  frontend/src/components/Log.tsx
  frontend/src/components/Sensor.tsx
  frontend/src/components/Watering.tsx
  frontend/src/components/common/DashboardCard.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useEventSource.ts
  frontend/src/lib/ApiResponse.ts
  frontend/src/lib/dayjs.ts
  frontend/vite.config.ts
  pyproject.toml
  src/unit_cooler/webui/webapi/cooler_stat.py
  tests/integration/test_api_schema.py
  tests/unit/webui/test_cooler_stat.py
  uv.lock
Due: prettier, pyright, ty

refactor: フロントエンドの共通化と App 分割（Phase 6 品質向上）
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/CoolingMode.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Watering.tsx
  frontend/src/components/common/ProgressBar.tsx
  frontend/src/hooks/useDashboardData.ts
Due: prettier

fix: 安全機構の強化と仕上げ（Phase 7 実装）
  src/unit_cooler/actuator/control.py
  src/unit_cooler/actuator/monitor.py
  src/unit_cooler/actuator/web_server.py
  src/unit_cooler/metrics/collector.py
  src/unit_cooler/pubsub/publish.py
  src/webui.py
Due: pyright, ty

test: Phase 7 のテスト整備（安全機構・配信・エントリポイント）
  tests/unit/actuator/test_control.py
  tests/unit/actuator/test_monitor.py
  tests/unit/actuator/test_status_publisher.py
  tests/unit/actuator/test_web_server.py
  tests/unit/metrics/test_collector.py
  tests/unit/test_entrypoints.py
Due: pyright, ty

fix: LVC proxy のカウント終了を確実化し xdist ワーカーの孤児化を防止
  src/controller.py
  src/unit_cooler/pubsub/publish.py
Due: pyright, ty

chore: my-lib を be74e66 に更新（notify.slack の PIL を TYPE_CHECKING 化）
  pyproject.toml
  uv.lock
Due: none

fix: 散水履歴チャートを宣言的更新にして初回ロード時の未表示を解消
  frontend/src/components/History.tsx
Due: none

feat: 散水量を左右中央配置にしログのページ遷移方向でアニメーション反転
  frontend/src/components/Log.tsx
  frontend/src/components/Watering.tsx
Due: none

feat: センサー値カードに過去12時間の背景スパークラインを追加
  frontend/src/App.tsx
  frontend/src/components/Sensor.tsx
  frontend/src/components/common/Sparkline.tsx
  frontend/src/hooks/useDashboardData.ts
  frontend/src/lib/ApiResponse.ts
  src/unit_cooler/webui/webapi/cooler_stat.py
Due: prettier, pyright, ty

feat: 散水量カードを中央配置にしログのページネーション余白を確保
  frontend/src/components/Log.tsx
  frontend/src/components/Watering.tsx
  frontend/src/components/common/Pagination.tsx
Due: none

feat: センサー値カードの列幅・行高を最適化し背景グラフを淡色化
  frontend/src/components/Sensor.tsx
  frontend/src/components/common/Sparkline.tsx
Due: none

feat: 散水量カードのじょうろ画像を左上、室外機背景を右下に配置
  frontend/src/components/Watering.tsx
Due: none

fix: 作動ログのフェードインをページ送り方向で切り替える
  frontend/src/components/Log.tsx
Due: none

fix: センサー値スパークラインの現在値プロットの右半分欠けを解消
  frontend/src/components/common/Sparkline.tsx
Due: none

fix: 散水量カードの室外機背景をカード全高の右下に配置
  frontend/src/components/Watering.tsx
Due: none

feat: エアコン稼働状況に過去12時間の電力滞在頻度ヒートバーを追加
  frontend/src/App.tsx
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/FrequencyHeatBar.tsx
  frontend/src/lib/ApiResponse.ts
  src/unit_cooler/webui/webapi/cooler_stat.py
Due: prettier, pyright, ty

refactor: エアコン稼働状況の列幅最小化とヒートマップの一体化・平滑化
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/FrequencyHeatBar.tsx
Due: none

feat: センサー値・エアコン稼働状況の絶対日時を日本語表記にする
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/Sensor.tsx
  frontend/src/lib/Util.ts
Due: prettier

Path conditions:
  prettier: any of: \.(js|ts|json|css|html|ya?ml|md)$
  pyright: any of: \.py$
  ty: any of: \.py$
