Repository kimata/unit-cooler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pyright, ty

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
            exclude: \.diff$
          - id: end-of-file-fixer
            exclude: \.diff$
          - id: check-added-large-files
            args: [--maxkb=4096]
          - id: check-yaml
            args: [--allow-multiple-documents]
          - id: check-json
            exclude: ^(.vscode/|.*tsconfig.*\.json$)
          - id: check-toml
          - id: check-merge-conflict
          - id: mixed-line-ending
            args: ["--fix=lf"]
            exclude: \.diff$

    - repo: local
      hooks:
          - id: prettier
            name: Run prettier
            entry: npx prettier --write
            language: system
            files: "\\.(js|ts|json|css|html|ya?ml|md)$"

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.2
      hooks:
          - id: ruff
            types_or: [python, pyi, jupyter]
            args: [--fix]
          - id: ruff-format
            types_or: [python, pyi, jupyter]

    - repo: https://github.com/adrienverge/yamllint
      rev: v1.37.1
      hooks:
          - id: yamllint

    - repo: local
      hooks:
          - id: pyright
            name: Run pyright
            entry: env PYRIGHT_PYTHON_FORCE_VERSION=latest uv run pyright
            language: system
            types: [python]
            pass_filenames: false

          - id: ty
            name: Run ty
            entry: uv run ty check
            language: system
            types: [python]
            pass_filenames: false

          - id: check-gitkeep
            name: Check data/.gitkeep exists
            entry: >
                bash -c '[ ! -d data ] || [ -f data/.gitkeep ] ||
                (echo "ERROR: data/.gitkeep is missing!" && exit 1)'
            language: system
            always_run: true
            pass_filenames: false

style: エアコン電力グラフを棒+ヒートマップ一体化し slate 配色にする
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/FrequencyHeatBar.tsx
  frontend/src/components/common/ProgressBar.tsx
Due: none

style: エアコン棒グラフをグレーに戻しヒートマップ高さを半減
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/FrequencyHeatBar.tsx
Due: none

style: エアコン電力グラフを一体型枠にしW数値をヒート分だけ下げる
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/FrequencyHeatBar.tsx
  frontend/src/components/common/ProgressBar.tsx
Due: none

style: エアコン電力ヒートマップを背景内包(sky)に変更
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/FrequencyHeatBar.tsx
  frontend/src/components/common/ProgressBar.tsx
Due: none

style: エアコン電力ヒートマップの配色を slate（低彩度）に戻す
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/FrequencyHeatBar.tsx
Due: none

style: エアコン電力ヒートマップの配色を zinc（中立グレー）に変更
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/FrequencyHeatBar.tsx
Due: none

feat: エアコン電力バー右端に現在値を示す濃色の縦線を追加
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/common/ProgressBar.tsx
Due: none

style: エアコン電力バーの現在値縦線を細く淡く調整
  frontend/src/components/AirConditioner.tsx
Due: none

fix: 現在値縦線の太さが行ごとに不均一になる問題を修正
  frontend/src/components/AirConditioner.tsx
Due: none

style: 現在値縦線の不透明度を下げて淡く調整（/60→/50）
  frontend/src/components/AirConditioner.tsx
Due: none

feat: エアコン夜間停止機能（21時〜6時は冷却モード0）を追加
  schema/config.schema
  src/unit_cooler/config.py
  src/unit_cooler/controller/engine.py
  tests/unit/controller/test_engine.py
Due: pyright, ty

fix: night_stop 設定を省略可能にし、既存 config で起動不能になる問題を修正
  config.example.yaml
  schema/config.schema
  src/unit_cooler/config.py
  tests/unit/test_config.py
Due: prettier, pyright, ty

feat(frontend): ハザードバナー・手動停止・接続状態表示を追加し描画問題を修正
  frontend/src/App.tsx
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/ConnectionStatus.tsx
  frontend/src/components/CoolingMode.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/HazardBanner.tsx
  frontend/src/components/Log.tsx
  frontend/src/components/OverrideControl.tsx
  frontend/src/components/Watering.tsx
  frontend/src/components/common/AnimatedNumber.tsx
  frontend/src/components/common/DateDisplay.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/ProgressBar.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useDashboardData.ts
  frontend/src/hooks/useEventSource.ts
  frontend/src/lib/ApiResponse.ts
  frontend/src/lib/Util.ts
  frontend/src/lib/api.ts
  frontend/src/lib/datetime.ts
Due: prettier

fix(ci): k8s マニフェスト整合・config 互換性検証・Python 3.12 統一
  .github/workflows/test.yaml
  .gitlab-ci.yml
  Dockerfile
  compose.yaml
  kubernetes/unit-cooler.yml
Due: prettier

docs: README / CLAUDE.md を実装と同期
  CLAUDE.md
  README.md
Due: prettier

docs: アーキテクチャドキュメントを追加
  README.md
  doc/architecture.md
  doc/img/actuator-workers.svg
  doc/img/controller-flow.svg
  doc/img/failsafe-layers.svg
  doc/img/metrics-dataflow.svg
  doc/img/system-overview.svg
  doc/img/webui-dataflow.svg
Due: prettier

fix(doc): システム構成図の矢印終端の接線を進行方向と一致させる
  doc/img/system-overview.svg
Due: none

fix(webui): ActuatorStatus 配信の有効化とメトリクスページのプロキシ経由表示を修正
  CLAUDE.md
  README.md
  kubernetes/unit-cooler.yml
  src/unit_cooler/metrics/webapi/page.py
  src/unit_cooler/metrics/webapi/templates/metrics.html
  src/webui.py
  tests/unit/metrics/webapi/test_page.py
Due: prettier, pyright, ty

chore: 設定ファイルを更新
  pyproject.toml
  uv.lock
Due: none

chore: Dockerfile を py-project のテンプレート管理に移行
  Dockerfile
Due: none

chore: .gitlab-ci.yml を py-project のテンプレート管理に移行
  .gitlab-ci.yml
  .gitlab/ci-local.yml
  pyproject.toml
  uv.lock
Due: prettier

refactor: healthz を my_lib.healthz.cli の共通ランナーに移行
  pyproject.toml
  src/healthz.py
  uv.lock
Due: pyright, ty

refactor: webui を my_lib.webapp.runner の共通ランナーに移行
  pyproject.toml
  src/webui.py
  uv.lock
Due: pyright, ty

fix: ZMQ SUB のハーフオープン接続を検知して自動再接続するようにする
  src/unit_cooler/pubsub/subscribe.py
  src/unit_cooler/webui/worker.py
  tests/unit/pubsub/test_subscribe.py
  tests/unit/webui/test_worker.py
Due: pyright, ty

改善: イメージタグを内容ベースの決定論的な生成に変更
  .gitlab-ci.yml
Due: prettier

fix: 手動停止・ハザード中に Duty カウントダウン表示が継続する問題を修正
  frontend/src/components/CoolingMode.tsx
  frontend/src/lib/ApiResponse.ts
  src/unit_cooler/actuator/status_publisher.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/messages.py
  tests/integration/test_api_schema.py
  tests/integration/test_webui.py
  tests/unit/actuator/test_status_publisher.py
  tests/unit/actuator/test_worker.py
  tests/unit/test_messages.py
  tests/unit/webui/test_cooler_stat.py
  tests/unit/webui/test_worker.py
Due: prettier, pyright, ty

改善: 散水の手動停止・再開の UI 遷移をスムーズにする
  CLAUDE.md
  frontend/src/App.tsx
  frontend/src/components/CoolingMode.tsx
  frontend/src/components/OverrideControl.tsx
  frontend/src/hooks/useOverride.ts
Due: prettier

fix: ハザード・手動停止の解除後に散水再開が最大 60 秒遅れる問題を修正
  frontend/src/components/CoolingMode.tsx
  src/unit_cooler/actuator/control.py
  tests/unit/actuator/test_control.py
Due: pyright, ty

ci: py-project テンプレート更新を適用
  .gitlab-ci.yml
Due: prettier

feat: 稼働期間（月日指定）を Web UI から設定できるようにする
  CLAUDE.md
  README.md
  doc/architecture.md
  frontend/src/components/CoolingMode.tsx
  frontend/src/components/HazardBanner.tsx
  frontend/src/components/SeasonControl.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useOverride.ts
  frontend/src/hooks/useSeason.ts
  frontend/src/lib/ApiResponse.ts
  frontend/src/lib/api.ts
  frontend/src/lib/season.ts
  src/unit_cooler/actuator/control.py
  src/unit_cooler/actuator/override.py
  src/unit_cooler/actuator/season.py
  src/unit_cooler/actuator/state_file.py
  src/unit_cooler/actuator/web_server.py
  src/unit_cooler/actuator/webapi/season.py
  tests/e2e/test_webui.py
  tests/unit/actuator/test_control.py
  tests/unit/actuator/test_override.py
  tests/unit/actuator/test_season.py
  tests/unit/actuator/test_state_file.py
  tests/unit/actuator/test_webapi.py
Due: prettier, pyright, ty

feat: 稼働期間への出入りを作動ログに記録する
  CLAUDE.md
  doc/architecture.md
  src/unit_cooler/actuator/control.py
  src/unit_cooler/actuator/season.py
  src/unit_cooler/actuator/worker.py
  tests/unit/actuator/test_control.py
  tests/unit/actuator/test_season.py
Due: prettier, pyright, ty

改善: 稼働期間外では「夜間停止中」バッジを表示しない
  frontend/src/components/CoolingMode.tsx
Due: none
