Repository kimata/unit-cooler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pyright, ty

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
            exclude: \.diff$
          - id: end-of-file-fixer
            exclude: \.diff$
          - id: check-added-large-files
            args: [--maxkb=4096]
          - id: check-yaml
            args: [--allow-multiple-documents]
          - id: check-json
            exclude: ^(.vscode/|.*tsconfig.*\.json$)
          - id: check-toml
          - id: check-merge-conflict
          - id: mixed-line-ending
            args: ["--fix=lf"]
            exclude: \.diff$

    - repo: local
      hooks:
          - id: prettier
            name: Run prettier
            entry: npx prettier --write
            language: system
            files: "\\.(js|ts|json|css|html|ya?ml|md)$"

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.2
      hooks:
          - id: ruff
            types_or: [python, pyi, jupyter]
            args: [--fix]
          - id: ruff-format
            types_or: [python, pyi, jupyter]

    - repo: https://github.com/adrienverge/yamllint
      rev: v1.37.1
      hooks:
          - id: yamllint

    - repo: local
      hooks:
          - id: pyright
            name: Run pyright
            entry: env PYRIGHT_PYTHON_FORCE_VERSION=latest uv run pyright
            language: system
            types: [python]
            pass_filenames: false

          - id: ty
            name: Run ty
            entry: uv run ty check
            language: system
            types: [python]
            pass_filenames: false

          - id: check-gitkeep
            name: Check data/.gitkeep exists
            entry: >
                bash -c '[ ! -d data ] || [ -f data/.gitkeep ] ||
                (echo "ERROR: data/.gitkeep is missing!" && exit 1)'
            language: system
            always_run: true
            pass_filenames: false

chore: 設定ファイルを更新
  pyproject.toml
  uv.lock
Due: none

refactor: dacite を使用した設定ファイル変換に移行
  pyproject.toml
  src/unit_cooler/config.py
  src/unit_cooler/util.py
  tests/unit/test_config.py
  uv.lock
Due: pyright, ty

refactor: dict[str, Any] を dataclass に置き換え
  src/actuator.py
  src/unit_cooler/actuator/web_server.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/controller/engine.py
  src/unit_cooler/metrics/analyzer.py
  src/unit_cooler/metrics/webapi/page.py
  src/unit_cooler/webui/webapi/cooler_stat.py
  tests/integration/test_actuator.py
  tests/unit/controller/test_engine.py
  tests/unit/webui/test_cooler_stat.py
Due: pyright, ty

chore: my-lib を更新（cleanup_stale_files のスレッドセーフ対応）
  pyproject.toml
  uv.lock
Due: none

chore: 設定ファイルを更新
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: prettier

docs(CLAUDE.md): 開発ワークフロー規約を追加
  CLAUDE.md
Due: prettier

perf: pandas/scipy 依存を削除して起動時間を短縮
  pyproject.toml
  src/unit_cooler/metrics/__init__.py
  src/unit_cooler/metrics/analyzer.py
  tests/unit/metrics/test_analyzer.py
  uv.lock
Due: pyright, ty

fix: get_metrics_collector をスレッドセーフに修正
  src/unit_cooler/metrics/collector.py
Due: pyright, ty

fix: InfluxDBConfig を dict から dataclass に変更
  src/unit_cooler/controller/sensor.py
Due: pyright, ty

chore(frontend): 依存ライブラリを更新
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CoolingMode.tsx
  frontend/src/components/History.tsx
  frontend/src/hooks/useEventSource.ts
Due: prettier

refactor(frontend): プロジェクト構成をベストプラクティスに準拠
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AirConditioner.tsx
  frontend/src/components/CoolingMode.tsx
  frontend/src/components/History.tsx
  frontend/src/components/Log.tsx
  frontend/src/components/Sensor.tsx
  frontend/src/components/Watering.tsx
  frontend/src/lib/ApiResponse.ts
  frontend/src/lib/ApiResponse.tsx
  frontend/src/lib/Util.ts
  frontend/src/types/common.ts
  frontend/tsconfig.json
Due: prettier

chore: Change version to dynamic versioning
  pyproject.toml
Due: none

chore: 設定ファイルを更新
  .dockerignore
  pyproject.toml
  uv.lock
Due: none

chore: my-lib の依存関係を更新
  pyproject.toml
  uv.lock
Due: none

fix: Docker ビルド時に .git をマウントして動的バージョニングを有効化
  Dockerfile
Due: none

chore: 設定ファイルを更新
  LICENSE
Due: none

refactor(ci): test-walk-through ジョブを test-pytest に名称変更
  .gitlab-ci.yml
Due: prettier

test: フロントエンドとバックエンド間のAPIスキーマ整合性テストを追加
  tests/integration/test_api_schema.py
Due: pyright, ty

feat: Pydantic スキーマによる API バリデーションを実装
  pyproject.toml
  src/unit_cooler/metrics/webapi/page.py
  src/unit_cooler/webui/webapi/cooler_stat.py
  uv.lock
Due: pyright, ty

docs: CLAUDE.md にリポジトリミラーリング情報を追加
  CLAUDE.md
Due: prettier

healthz/SQLite共通化
  CLAUDE.md
  src/healthz.py
  src/unit_cooler/metrics/collector.py
Due: prettier, pyright, ty

fix: healthz テストを get_liveness_targets のテストに更新
  src/unit_cooler/config.py
  tests/unit/test_healthz.py
Due: pyright, ty

perf: CI のキャッシュ最適化
  .gitlab-ci.yml
Due: prettier

chore: 設定ファイルを更新
  .gitignore
  pyproject.toml
  uv.lock
Due: none
